input {
    display: block;
    margin-top: 2%;
    width: 80%;
}

textarea {
    margin-top: 2%;
    width: 80%;
}

.field_comments {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    border: 1px solid black;
    margin-right: 5%;
}

.comments_area {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.chat_tittle {
    display: block;
    margin-left: 2%;
    margin-top: 2%;
}

.body_comments {
    padding: 0 3%;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.comment_send_button {
    margin-top: 2%;
    background-color: rgba(241, 158, 158, 0.6);
    border: none;
    width: 35%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

.comment_send_button:hover {
    background-color: rgba(241, 128, 128, 0.6);
    width: 80%;
}

.time {
    margin-left: 80%;
    margin-top: 2%;
    color: rgba(97, 73, 76, 0.7);
    font-size: 14px;
}

.avatar {
    float: left;
    margin-right: 2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: none;
    background-color: rgba(241, 158, 158, 0.4);
}

.user_nickname {
    margin: 0 1% 0;
    font-size: 24px;
    font-weight: bold;
    color: #c96868;
}

.user_comment {
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 1px;
    color: rgb(64, 56, 56);
    margin-bottom: 3%;
}
